
nav,
div,
header {
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  }

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: MediumAquamarine;
  flex-grow: 1;

}

nav {
  padding-right: 30px;
  flex-flow: row wrap;

}

nav span {
  display: inline-block;
  padding-left: 20px;
}

a {
  color: Black;
}

main {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.photo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.lead-story .photo-content {
  background-image: url("../images/img-story-main-phishconcert.png");
  font-size: 40px;
}

.earth-spins.photo-content {
  background-image: url("../images/img-story-2-earthspins.png");
}

.camera.photo-content {
  background-image: url("../images/img-story-3-cameraerase.png");
}

.catincontrol.photo-content {
  background-image: url("../images/img-story-1-girlandcat.png");
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
